
.container {
    display: flex;
    padding: 2rem;
    background-color: black;
    overflow-x: auto;
    box-sizing: border-box;
    
}
.favoritesposter {
    height: 300px;
    width: 220px;
}
.favoritesposter:hover {
    border: .2px solid white;
    opacity: .5;
}
.homebody {
    background-color: black;
    color: white;
    margin: 2rem;
   
}


.holder {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}
.deletebutton {
    position: absolute;
    display: none;
    top: 250px;
    width: 222px;
    height: 53px;
    background-color: rgb(86, 86, 86);
    color: white;
    opacity: .9;
    border-bottom-left-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
    border: none;
    
  
}
.holder:hover .deletebutton {
    display: block;
}


.icon {
    height: 25px;
    width: 25px;
    color: white;
}