.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 2%;
  
}
.searchbar {
    width: 500px;
    margin: 1rem;
    height:30px;
    opacity: .5;
    
}
.searchButton {
    width: 100px;
    height: 30px;
    background-color: rgb(255, 118, 118);
    border-radius: 10%;
}
.searchButton:hover {
    background-color: rgb(141, 141, 245);
}